body{background-color:#fff}
#auth{overflow-x:hidden}
#auth #auth-right{height:100%;background:url(../../images/bg/maldives.jpg),linear-gradient(90deg,#2d499d,#3f5491)}
#auth #auth-left{padding:1rem 8rem}
#auth #auth-left .auth-title{font-size:3rem;margin-bottom:1rem}
#auth #auth-left .auth-subtitle{font-size:1.5rem;line-height:2.4rem;color:#a8aebb}
#auth #auth-left .auth-logo{margin-bottom:2rem}
#auth #auth-left .auth-logo img{height:2rem}@media screen and (max-width:767px){#auth #auth-left{padding:5rem}}
